* {
  box-sizing: border-box;
}
body {
  margin: 0;
  margin-left: 20%;
  margin-right:20%;
  padding: 0;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #000;
  line-height: 18px;

  font-weight: 400;
}
main {
  background-color: #cccaca;
  padding-bottom: 25px;
    font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #000;
  margin-left: 20%;
}
